/* TEXT: CONVERSION CALCULATORS */
h1 {
    font-size: 150%;
    font-family: "fantasy", ''Ink Free'';
    text-align: center;
    color: red;
}
/* TEXT "ENTER THE (units)" */
.entermeasure {
    text-align: left;
    font-size: 150%;
    color: orange;
}
/* CONVERT measure to new measure TEXT */
.convertmeasure {
    text-align: left;
    font-size: 150%;
    color: green;
}
p {
    font-size: 120%;
    font-family: "fantasy", ''Ink Free'';
    text-align: center;
    color: black;
}
/* INPUT BOX FOR INCHES */
#inchesinput {
    font-size: 200%;
    color: white;
    text-align: center;
    border: 5px purple solid;
    outline: 3px white solid;
    background-color: violet;
    width: 150px;
    height: 70px;
}
/* CONV. BUTTON INCHES TO CM */
#myBtn1, #myBtn2, #myBtn3 {
    font-size: 100%;
    color: teal;
    background-color: lightblue;
    border: 5px black solid;
    outline: 3px purple solid;
}
#demo1, #demo2, #demo3 {
    font-size: 200%;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 20px;
    border: 5px purple solid;
    outline: 3px white solid;
    background-color: violet;
}
#radiansinput {
    font-size: 200%;
    color: white;
    text-align: center;
    border: 5px purple solid;
    outline: 3px white solid;
    background-color: violet;
    width: 150px;
    height: 70px;
}
#pibtn {
    font-size: 100%;
    width: 50px;
    height: 50px;
    color: teal;
}
/* TEMPLATE FOR NEW MEASURES */
/* #...measures....input {
    font-size: 200%;
    color: white;
    text-align: center;
    border: 5px purple solid;
    outline: 3px white solid;
    background-color: violet;
    width: 150px;
    height: 70px;
} */
